@import "../../../../styles.scss";

.app-skills {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    max-width: 69em;
    min-width: 550px;
    display: flex;
    justify-content: center;
    overflow: auto;
    &-next {
      display: none;
    }
    &-art {
      direction: rtl;
      width: 550px;
      max-height: 600px;
      background-color: $gray_d;
      text-align: justify;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 20px $black_o;
      overflow: auto;
      scroll-behavior: smooth;
      &:nth-child(2) {
        background: $gray;
        padding: 10px;
        overflow: auto;
        position: relative;
        border: 2px solid $gray_d;
      }
      & > * {
        direction: ltr;
      }
      &-controls {
        height: 300px;
        width: 100%;
        position: absolute !important;
        top: 0;
        left: 0;
        &-control {
          border: none;
          width: 1em;
          height: 1em;
          color: $blue_d;
          border-radius: 50%;
          position: absolute;
          bottom: 0px;
          z-index: 3;
          background: none;
          font-size: 2em;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: $black_t;
            cursor: pointer;
          }
          &.ctr-r {
            right: 0;
            top: 45%;
          }
          &.ctr-l {
            left: 0px;
            top: 45%;
          }
        }
      }
      &-notes {
        height: 300px;
        overflow-y: hidden;
        overflow-x: scroll;
        padding-left: 25px;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          display: none;
        }
        position: relative;
        & app-lettering {
          position: absolute;
          width: 200px;
          transform: translateX(-50%) translateY(8em) rotate(-90deg);
          left: 0;
          top: -1em;
          background: $gray_d;
          margin: 0 0 0 20px;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
        &-container {
          width: max-content;
          height: 270px;
          display: flex;
          align-items: center;
          scroll-behavior: smooth;
          &-note {
            width: 250px;
            height: 250px;
            background: $black;
            box-shadow: 0 0 20px $black_o;
            margin: 0 10px;
            border-radius: 4px;
            padding: 10px;
            z-index: 1;
            animation-name: opacityIn;
            animation-duration: 1s;
            animation-timing-function: linear;
            cursor: pointer;
            &:hover {
              outline: 2px solid $green;
            }
            &-job {
              color: $blue_d;
              font-size: 1.5em;
            }
            &-company {
              color: $blue;
              &-years {
                color: $gray_l;
              }
            }
            &-description {
              font-size: 0.8em;
            }
          }
        }
      }
      &-skills {
        padding-left: 35px;
        display: flex;
        flex-direction: column;
        height: 400px;
        overflow-y: auto;
        position: relative;
        &::-webkit-scrollbar {
          display: none;
        }
        & app-lettering {
          position: absolute;
          width: 200px;
          transform: translateX(-50%) translateY(12em) rotate(-90deg);
          left: 0;
          top: -1em;
          background: $gray_d;
          margin: 0 0 0 20px;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
        &-container {
          padding: 40px;
          background-color: $black;
          z-index: 1;
          min-height: 400px;
          height: max-content;
          box-shadow: 0 0 10px $black_o;
          border-radius: 8px;
          &-tabs {
            &-tab {
              border: none;
              background-color: $gray;
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
              color: $white;
              margin-right: 2px;
              cursor: pointer;
              height: 30px;
              padding: 2.5px;
              &.active {
                height: 40px;
                background-color: $black;
              }
            }
          }
          &-skill {
            margin-bottom: 30px;
            margin: 0 auto;
            width: 100%;
            &:nth-child(2n + 1) {
              & div {
                &::after {
                  background: $blue;
                }
              }
            }

            &:nth-child(3n + 6) {
              & div {
                &::after {
                  background: $purple;
                }
              }
            }
            &-bar {
              width: 100%;
              height: 1em;
              background: $gray;
              outline: 3px solid $gray;
              overflow: hidden;
              &::after {
                content: attr(status);
                display: block;
                width: var(--level);
                height: 16px;
                top: 0;
                left: 0;
                background: $yellow;
                font-size: 0.8em;
                color: $black;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bolder;
                animation-name: bars;
                animation-duration: 1s;
                animation-timing-function: linear;
                transform: translateX(0);
              }
            }
          }
        }
      }
      &-paragraph {
        direction: ltr;
        width: 80%;
        margin: 0 auto;overflow: hidden;
        &-each {
          display: inline-block;
          &:nth-child(1) {
            animation-delay: 0s;
          }
          &:nth-child(2) {
            animation-delay: 0.25s;
          }
          &:nth-child(3) {
            animation-delay: 0.5s;
          }
        }
      }
      &-link {
        display: block;
        animation-delay: 0.75s;
        color: $green;
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 1380px) {
  .app-skills {
    justify-content: center;
    &__container {
      &-next {
        display: block;
        cursor: pointer;
        text-shadow: 0 0 5px $black_t;
        animation: floatSides infinite linear;
      }
      &-art {
        display: none;
        background-color: $gray_d;
        &.active {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .app-skills {
    flex-direction: column;
    &__container{
      align-items: center;
      display: flex;
      flex-direction: column;
      &-next {
        transform: rotate(90deg);
      }
      &-art {
        min-width: 400px;
        width: 400px;
      }
    }
  }
}