<div class="app-projects">
    <div class="app-projects__container">
        <app-lettering [subtitle]="template['title']"></app-lettering>
        <p class="app-projects__container-paragraphs">
            <span *ngFor="let text of template['paragraphs']">
                {{text}}
            </span>
        </p>
        <div class="app-projects__container-button">
            <button>{{template['button']}}</button>
        </div>
        <div class="app-projects__container-projects">
            <div class="app-projects__container-projects-container">
                <div class="app-projects__container-projects-container-project" *ngFor="let project of projects; let i = index">
                        <div class="app-projects__container-projects-container-project-info" [style]="'background-image: url(' + project.back + ')'">
                            <a [href]="project.url" target="_blank">
                                <app-lettering [subtitle]="project.name" size="s"></app-lettering>
                            </a>
                            <p *ngFor="let skill of project.skills">{{skill}}</p>
                        </div>
                        <img [src]="project.image" alt="">
                </div>
            </div>
        </div>
    </div>
</div>