<div class="app-music" title="music" [ngClass]="{ green: status === 'ON' }">
  <span class="app-music__icon" (click)="toggleShow()">
    <mat-icon> music_note </mat-icon>
  </span>
  <span class="app-music__drop" *ngIf="show">
    <label class="app-music__drop-label" for="switch">
      <mat-icon>{{ icons[status] }}</mat-icon>
    </label>
    <input
      class="app-music__drop-input"
      type="checkbox"
      id="switch"
      #switch
      (change)="clickOnSwitch()"
    />
    <span class="app-music__drop-option" (click)="stop()">
      <mat-icon> stop </mat-icon>
    </span>
    <span class="app-music__drop-option slider">
      <div class="app-music__drop-option-volume">
        <input type="range" min="0" max="1" step="0.1" (change)="audio.volume = $event.target.value">
      </div>
      <div class="app-music__drop-option-icon">
        <mat-icon> volume_up </mat-icon>
      </div>
    </span>
  </span>
</div>
