// Colores
$gray: #202020;
$gray_l: #999999;
$gray_d: #181818;
$gray_el: #dfdfdf;
$gray_ml: #ababab;
$green: #66ff66;
$green_o: #66ff6666;
$green_d: #44aa66;
$blue: #08ccfd;
$blue_d: #0199ff;
$black: #000;
$black_t: #000c;
$black_o: #0005;
$white: #fff;
$red_l: #ff6666;
$red: #ff4444;
$red_d: #ff2222;
$purple: #c237db;
$yellow: #ffff33;
$yellow_l: #ffff77;
$brown: #dd8844;

// Medidas
$navbar-width: 250px;
$full-height: 100vh;

// Fuentes
$paragraph: 'Manrope';


// Animations
