 <main class="architects-projects-modal" *ngIf="data">
    <span class="architects-projects-modal__close">
        <mat-icon mat-dialog-close>close</mat-icon>
    </span>
    <app-lettering [subtitle]="data.name"></app-lettering>
    <img class="architects-projects-modal__img" [src]="data.image" alt="">
    <p class="architects-projects-modal__description">
        {{data.description}}
    </p>
    <main class="architects-projects-modal__skills">
        <h4 class="architects-projects-modal__skills-title">Skills</h4>
        <p class="architects-projects-modal__skills-skill" *ngFor="let skill of data.skills">
            {{skill}}
        </p>
    </main>
    <a tabindex="-1" [href]="data.repository" target="_blank" class="architects-projects-modal__link">{{data.repository_back ? 'Forntend' : 'App'}} - repository</a>
    <a tabindex="-1" [href]="data.repository_back" target="_blank" class="architects-projects-modal__link" *ngIf="data.repository_back">Backend services - repository</a>
    <a tabindex="-1" [href]="data.url" target="_blank" class="architects-projects-modal__link">{{data.name}} - website</a>
 </main>