@import '../../../../variables.scss';
.architects-projects-modal {
    background-color: $gray_d;
    width: 100%;
    padding: 20px;
    position: relative;
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    &__img {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: block;
    }
    &__description {
        text-align: justify;
    }
    &__skills {
        &-title {
            color: $green;
            text-align: center;
        }
        &-skill {
            display: inline-block;
            padding: 2.5px;
            margin: 3px;
            color: $green;
            background: $black;
            border-radius: 3px;
        }
    }
    &__link {
        color: $blue;
        background: black;
        display: block;
        margin: 0 auto;
        max-width: 250px;
        padding: 10px 0;
        text-align: center;
        margin-top: 5px;
        &:hover {
            background: $blue;
            color: $black;
        }
    }
}